mat-card{
  max-width: 80%;
  text-align: center;
  margin: 3em auto;
 }


.file-name {
  margin-left: 1rem; /* or whatever margin you require */
}


form{
  display: flex;
flex-direction: column;
align-items: center;
}
