<mat-card>
  <mat-card-content>

    <form>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>title</mat-label>
          <input matInput type="text" placeholder="insira seu titulo" required>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>description</mat-label>
          <textarea matInput placeholder="Fale algo sobre sua fotografia" required></textarea>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file">
        <span class="file-name">{{selectedFile?.name}}</span>
      </div>
    </form>

    <mat-card-actions>
      <button mat-button color="primary" (click)="onSubmit()">CADASTRAR </button>
      <button mat-button routerLink="">CANCELAR</button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>


<!-- <div class="form-group">
  <button mat-button type="file" placeholder="Selecione sua imagem" required>Action</button>
</div>
<button mat-button  type="submit">Submit</button> -->
